# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# 환경 설정
.env

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
/config/.env

# VSCode, macOS 등
.vscode/
.DS_Store

# Jupyter
.ipynb_checkpoints

# Test & coverage
.coverage
.pytest_cache/
.mypy_cache/

# Logs and DB
*.log
db.sqlite3
instance/

# Dependency tools
*.egg-info/
.eggs/
*.lock
.Python

# IDEs and editors
.idea/
.spyderproject
.ropeproject

# Static type checkers
.pytype/
.pyre/

# Others
site/
build/
dist/